# Ignora arquivos e pastas do PyCharmIntelliJ
.idea
.iml

# Cache e arquivos temporários do Python
__pycache__
.py[cod]
.pyo
.pyd
.pyc

# Ambiente virtual, se tiver
venv
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
